
<mat-card>
    <form>
        <mat-form-field>
            <input matInput type="text"
            placeholder="Name"
            >
        </mat-form-field>
           

        <mat-form-field >
            <input matInput type="text" placeholder="currently teaching in">
        </mat-form-field>


        <mat-form-field>
            <input matInput type="text" placeholder="region">
        </mat-form-field>

        <mat-form-field>
            <input matInput type="text" placeholder="Graduated from">
        </mat-form-field>
        




        <button mat-raised-button
        color="accent"
        type="submit" > Save Teacher</button>
    </form>

</mat-card>