
<mat-card>
    <form [formGroup]="form" (submit)="onSaveTeacher()">
        <mat-form-field>
            <input matInput type="text"
            placeholder="Name"
            formControlName = "name"
            >
            <mat-error *ngIf="form.get('name').invalid"> Enter name </mat-error>
        </mat-form-field>
           

        <mat-form-field >
            <input matInput type="number" placeholder="age" formControlName="age">
            <mat-error *ngIf="form.get('age').invalid"> Enter age </mat-error>            
        </mat-form-field>


        <mat-form-field>
            <input matInput type="text" placeholder="department" formControlName="department">
            <mat-error *ngIf="form.get('department').invalid"> Enter department </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput type="text" placeholder="current hired position"  formControlName = "hiredPos">
            <mat-error *ngIf="form.get('hiredPos').invalid"> Enter current hired Position </mat-error>
        </mat-form-field>

        <mat-form-field >
            <input matInput type="date" placeholder="graduated in year"  formControlName = "gradYear">
            <mat-error *ngIf="form.get('gradYear').invalid"> Enter graduation year </mat-error>
        </mat-form-field>
        <mat-form-field >
            <input matInput type="text" placeholder="graduated in field"  formControlName = "gradField">
            <mat-error *ngIf="form.get('gradField').invalid"> Enter graduation field </mat-error>
        </mat-form-field>
        <mat-form-field >
            <input matInput type="text" placeholder="graduated from university"  formControlName = "gradUniv">
            <mat-error *ngIf="form.get('gradUniv').invalid"> Enter graduated from university </mat-error>
        </mat-form-field>
        <mat-form-field >
            <input matInput type="text" placeholder="currently teaching in university" formControlName = "currentUniv">
            <mat-error *ngIf="form.get('currentUniv').invalid"> Enter currently teaching university </mat-error>
        </mat-form-field>
        




        <button mat-raised-button
        color="accent"
        type="submit" > Save Teacher</button>
    </form>

</mat-card>